* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1.25rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(102, 102, 140);
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: auto auto auto 300px;
  place-content: center;
  gap: 1rem;
}

button {
  padding: 1rem 0 1rem 0;
  line-height: 1.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background-color: hsla(300, 6%, 30%, 0.8);
  box-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.5);
}

button:hover {
  background-color: hsla(300, 6%, 30%, 1);
}

button:active {
  box-shadow: none;
}

.results__container {
  background-color: hsla(300, 6%, 30%, 0.8);
  padding: 0.25rem;
  box-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.5);
}
